.TitleLink{
  text-align: center;
  margin-top: 3em;
}
.FormLink{
  margin-top: 4em;
  margin-left: 10em;
  display: flex;
}
.FormLink div{
  width: 15%;
}
.FormLink input{
  width: 50%;
  margin-right: 5em;
}